<?xml version="1.0" encoding="UTF-8" standalone="yes"?><NSFAnalyze><OutputFormat>html</OutputFormat><OutputFile>c:\output3.html</OutputFile><Server>CN=PLANO1/OU=SVR/O=S-K</Server><Database>iss\support.nsf</Database><Include><Enabled>no</Enabled></Include><Exclude><Enabled>no</Enabled></Exclude><KeywordList><Keyword>LkupApplicationNameUNID</Keyword></KeywordList><AnalyzeData>no</AnalyzeData><ExactMatch>yes</ExactMatch><AutoLaunch>yes</AutoLaunch></NSFAnalyze>